
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --------------------------------------------------------------------
    // Helper Functions
    // --------------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingDoc() {
      return resource != null;
    }

    function isExistingOwner(userId) {
      return isOwner(userId) && isExistingDoc();
    }
    
    function hasValidUserProfileIdOnCreate(userId) {
      return request.resource.data.userProfileId == userId;
    }
    
    function isUserProfileIdImmutable() {
      return request.resource.data.userProfileId == resource.data.userProfileId;
    }
    
    function isTeamMember() {
      return isSignedIn() && request.auth.uid in resource.data.memberIds;
    }

    function getUserRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    function isAdmin() {
      return isSignedIn() && getUserRole(request.auth.uid) == 'admin';
    }

    // --------------------------------------------------------------------
    // User Data Tree
    // --------------------------------------------------------------------

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if (isExistingOwner(userId) || isAdmin()) && request.resource.data.id == resource.data.id;
      allow delete: if false;

      match /timeEntries/{timeEntryId} {
        allow get, list: if isOwner(userId) || isAdmin();
        allow create: if isOwner(userId) && hasValidUserProfileIdOnCreate(userId);
        allow update: if isExistingOwner(userId) && isUserProfileIdImmutable();
        allow delete: if isExistingOwner(userId);
      }
      
      match /workplaceUpdateLogs/{logId} {
        allow create: if isOwner(userId);
        allow read, list, update, delete: if false;
      }
    }

    // --------------------------------------------------------------------
    // Teams Collection
    // --------------------------------------------------------------------

    match /teams/{teamId} {
      allow get: if isTeamMember() || isAdmin();
      allow list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
  }
}
