@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 158 81% 42%;
    --primary-foreground: 158 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 347 78% 50%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 158 81% 42%;
    --radius: 0.8rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 158 81% 42%;
    --sidebar-primary-foreground: 158 20% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 158 81% 42%;
    --chart-1: 158 81% 42%;
    --chart-2: 212 77% 55%;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 158 81% 42%;
    --primary-foreground: 158 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 347 78% 50%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 158 81% 42%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 158 81% 42%;
    --sidebar-primary-foreground: 158 20% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 158 81% 42%;
    --chart-1: 158 81% 42%;
    --chart-2: 212 77% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
